<div class="video_container_pop_up_title">
  Как думаете?
</div>
<div class="video_container_pop_up_description">
  Как думаете? Продолжать обслуживание на&nbsp;официальной дилерской станции? Или можно смело уходить на&nbsp;сторонние станции технического обслуживания и&nbsp;устанавливать неоригинальные запчасти?
</div>
<div class="video_container_pop_up_buttons">
  <div class="button js-set-answer gtm-answer-5-0" code="0">
    официальные<br>дилеры
  </div>
  <div class="button js-set-answer gtm-answer-5-1" code="1">
    независимые<br>сто
  </div>
</div>
