<%
score=TestResult.find_by(browser_id: params[:browser_id]).score

all_count_user_finish=TestResult.where.not(test_5: nil).count.to_f
count_user_lower=TestResult.where.not(test_5: nil).where('score < ?',score).count.to_f
percent=((count_user_lower/all_count_user_finish)*100).round(0)

if percent<30
  percent=30
end


if score.to_i<10000000
  url_share="https://savefuel.ru/share/3_#{percent}/?url=#{params[:url]}"
  image_share="https://savefuel.ru/img/share/3_#{percent}.jpg"

else
  if score.to_i<13999999 && score.to_i>10000001
    url_share="https://savefuel.ru/share/2_#{percent}/?url=#{params[:url]}"
    image_share="https://savefuel.ru/img/share/2_#{percent}.jpg"
  else
    if score.to_i>14000000
      url_share="https://savefuel.ru/share/1_#{percent}/?url=#{params[:url]}"
      image_share="https://savefuel.ru/img/share/1_#{percent}.jpg"
    end
  end
end

text_share='Я управлял крупной компанией по грузоперевозкам и принимал непростые решения  — справитесь лучше? Пройдите тест о логистическом бизнесе, чтобы это проверить!  '

%>


<div class="video_container_pop_up_title">
</div>
<div class="video_container_pop_up_description">
</div>


<div class="finish_share" style="display: none">

  <div class="button_close_form js-close-share-social" style="margin-bottom: 15px;">
    <div class="button_close_form_icon">

    </div>
    <div class="button_close_form_text">
      Назад
    </div>

  </div>

  <div class="form_title">
    Поделиться результатами теста:
  </div>


  <div class=" video_container_share_buttons">
    <a href="https://vk.com/share.php?url=<%=url_share%>" class="button js-click-vk gtm-vk" onclick="window.open(this.href,this.target,'width= 600,height=500,scrollbars=1');return false;" target="_blank">
      Вконтакте
    </a>
    <a href="https://www.facebook.com/sharer.php?u=<%=url_share%>" class="button js-click-fb gtm-fb" onclick="window.open(this.href,this.target,'width= 600,height=500,scrollbars=1');return false;" target="_blank">
      FaceBook
    </a>
  </div>



  <div class="form_template" style="display: block !important; margin-top: 30px;">

    <input type="text" name="url" value="<%=url_share%>" disabled>

    <button class="button js-copy-url">
      СКОПИРОВАТЬ
    </button>

  </div>


</div>
<div class="finish_content" >


  <div class="image_share">
    <div class="image_share_image"
      <%
      if score.to_i<10000000
        %>style='background-image: url("/img/win_icon_3.svg")'<%
      else
        if score.to_i<13999999 && score.to_i>10000001
          %>style='background-image: url("/img/win_icon_2.svg")'<%
        else
          if score.to_i>14000000
            %>style='background-image: url("/img/win_icon_1.svg")'<%
          end
        end
      end
      %>
      >
    </div>
    <div class="image_share_info">
      <div class="image_share_info_title">
        <%
        if score.to_i<10000000
          %>Мастер<br>логистического Кунг-Фу<%
        else
          if score.to_i<13999999 && score.to_i>10000001
            %>Эксперт<br>бизнес-решений<%
          else
            if score.to_i>14000000
              %>Знаток<br>кост-эффективности<%
            end
          end
        end
        %>
      </div>

      <div class="image_share_info_rating">
        Мой результат выше чем у <Br>
        <span><%=percent%>%</span> пользователей
      </div>
    </div>

  </div>

  <%=render template: 'layouts/questions/test_result_buttons'%>
</div>
