<div class="video_container_pop_up_title">
  Как лучше поступить?
</div>
<div class="video_container_pop_up_description">
  Привязать зарплаты к&nbsp;конкретным результатам? Или оставить их&nbsp;в&nbsp;форме понятной окладной части?
</div>
<div class="video_container_pop_up_buttons">
  <div class="button js-set-answer gtm-answer-4-0" code="0">
    привязать к<br>результатам
  </div>
  <div class="button js-set-answer gtm-answer-4-1" code="1">
    Оставить <br>оклад
  </div>
</div>
