<div class="video_container_pop_up_title">
  На чем не стоит экономить?
</div>
<div class="video_container_pop_up_description">
</div>
<div class="buttons_nalog">
  <div class="button_nalog">
    ADBLUE
    <div class="button_check_icon active" code="0"></div>
  </div>
  <div class="button_nalog">
    НАЛОГИ
    <div class="button_check_icon active" code="0"></div>
  </div>
  <div class="button_nalog">
    штрафы
    <div class="button_check_icon active" code="0"></div>
  </div>
</div>

<div class="video_container_pop_up_buttons">
  <div class="button button_white button_pdf js-open-form-pdf">
    прочитать<br>почему
  </div>
  <div class="button button_arrow js-set-next-test">
    Продолжить
  </div>
</div>
