<div class="video_container_pop_up_title">
  Как лучше поступить?
</div>
<div class="video_container_pop_up_description">
  Начать строго контролировать расходы с&nbsp;помощью новейших средств телематики? Или награждать водителей за&nbsp;успехи в&nbsp;учёбе? А&nbsp;может, сделать и&nbsp;то, и&nbsp;то?
</div>

<div class="video_container_pop_up_buttons" style='margin-bottom: 15px;'>
  <div class="button button_white button_check" >
    Установить<br>телематику
    <div class="button_check_icon" code="0"></div>
  </div>
  <div class="button button_white button_check" >
    Обучать<br>водителей
    <div class="button_check_icon" code="1"></div>
  </div>
</div>



<div class="video_container_pop_up_buttons video_container_pop_up_buttons_one " >
  <div class="button button_disable button_test_2 js-set-answer gtm-answer-2" code="">
    отправить ответ
  </div>

</div>
