<div class="video_container_pop_up_buttons" style="margin-bottom: 15px;">
  <a href="https://savefuel.michelin.ru/?utm_source=ati_su_Michelin&utm_medium=DIS&utm_content=MICHELIN/HeavyTruck/Brand/PDT/XMulti&utm_campaign=HeavyTruck-LDS-XMulti&utm_term=video#calculator" target="_blank" class="button button_finish_calc">
    посчитать<br>экономию
  </a>
  <div class="button button_finish_share js-show-share-social">
    поделиться<br>тестом
  </div>
</div>
<div class="video_container_pop_up_buttons">
  <div class="button button_finish_pdf js-open-form-pdf">
    получить pdf
  </div>
  <div class="button button_finish_consult js-open-form-consult gtm-get-consult">
    консультация
  </div>
</div>
