<div class="video_container_pop_up_title">
  Как лучше поступить?
</div>
<div class="video_container_pop_up_description">
  Взять шины попроще и&nbsp;подешевле или инвестировать в&nbsp;качество и&nbsp;выбрать энергоэффективные шины?
</div>
<div class="video_container_pop_up_buttons">
  <div class="button js-set-answer gtm-answer-3-0" code="0">
    ШИНЫ<br>ПОДЕШЕВЛЕ
  </div>
  <div class="button js-set-answer gtm-answer-3-1" code="1">
    энергоэффективные<br> шины
</div>
