<div class="video_container_pop_up_title">
  Как лучше поступить?
</div>
<div class="video_container_pop_up_description">
  Продать старые автомобили, пока за&nbsp;них ещё можно выручить деньги и&nbsp;взять новые в&nbsp;лизинг? Или оставить и&nbsp;инвестировать во&nbsp;что-то другое?
</div>
<div class="video_container_pop_up_buttons">
  <div class="button js-set-answer gtm-answer-1-0" code="0">
    Продать
  </div>
  <div class="button js-set-answer gtm-answer-1-1" code="1">
    Оставить
  </div>
</div>
