/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require scroll

 */

@font-face {
  font-family: "rouble";
  src: url("/rouble.otf") format("opentype");
}
.rub { font-family: "rouble"; }
@font-face {
   font-family: Michelin; /* имя шрифта для CSS правил */
   src: local("Michelin"), /* проверяем наличие шрифта в ОС пользователя */
        url(/fonts/Michelin-Bold.otf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

.michelin-logo{
  font-family: Michelin;
  position: absolute;
  z-index: 5;
  right: 25px;
  top: 25px;
  color: rgba(255,255,255,0.9);
  font-size: 18px;
}
input{
  display: block;
  font-family: 'Open Sans', sans-serif;
  outline: inherit;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: #FFF;
}
button{
  display: block !important;
  justify-content: inherit !important;
  flex-direction: inherit !important;
  outline: inherit;
  border: none;
}
a{
  color: #26509B;
}

.video_container_next{
  position: absolute;
  z-index: 20;
  bottom: 60px;
  right: 70px;
  line-height: 25px;
  color: #FFF;
  font-size: 12px;
  cursor: pointer;
}

.video_container_score_button{
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 200px;
  color: #FFF;
  font-size: 12px;
  cursor: pointer;
}
.video_container{
  width: 100%;
  position: relative;
  margin: 0px auto;
}
.video_container video{
  display: block;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  overflow: hidden;
}
.video_opacity{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  transition: 1s;
}
.video_container_border{
  border: 8px solid rgba(255,255,255,0.5);
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  top: 0px;
  left: 0px;
  z-index: 2;
  position: absolute;
  border-radius: 20px;
  pointer-events: none;
}
.video_slide{
  display: none;
}


.content{
  max-width: 1030px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.video_slide .content{
  max-width: 900px;
}

.first_slide_left{
  float: left;
  width: 400px;
}

.first_slide_right{
  float: right;
  width: calc(100% - 400px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}
.first_slide_right_image_parent{
  display: flex;
  justify-content: center;
}
.first_slide_right video{
  width: 100%;
}

.first_slide_info_block{
  width: 400px;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(10, 39, 92, 0.1);
  border-radius: 10px;
}

.first_slide_info_block img{
  float: left;
  margin: 16px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}
.first_slide_info_block_text{
  font-weight: 600;
  color: #26509B;
  margin-top: 15px;
  float: left;
  line-height: 20px;
}
.first_slide_info_block_text span{
  font-weight: bold;
}
.first_slide_title{
  margin-top: 30px;
  font-size: 50px;
  color: #111;
  font-weight: 800;
}

.first_slide_description{
  margin-top: 15px;
  font-size: 13px;
  line-height: 22px;
}

.button{
  height: 70px;
  background: #26509B;
  box-shadow: 0px 4px 0px #00205B;
  border-radius: 5px;

  font-weight: bold;
  font-size: 18px;
  color: #FFF;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
.button_disable{
  background: #ddd;
  box-shadow: 0px 4px 0px #aaa;
  cursor: default;
}
.button_white{
  text-align: left;
  border: 3px solid #26509B;
  background: transparent;
  box-shadow: none;
  height: 68px;
  color: #26509B;
}
.button_arrow{
  text-align: left;
  text-indent: 35px;
}
.button_arrow::after{
  content: "";
  display: block;
  background-image: url(/img/button_arrow.svg);
  background-size: 23px 18px;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}
.button_pdf{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
}
.button_pdf::after{
  content: "";
  display: block;
  background-image: url(/img/pdf.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}
.first_slide_button{
  margin-top: 30px;
  width: 308px;
}
.video_container_timeline{
  position: absolute;
  bottom: 70px;
  width: calc(100% - 230px);
  left: 70px;
  border-radius: 2px;
  height: 4px;
  background: rgba(255,255,255,0.3);
  border-radius: 2px;
  z-index: 2;
}
.video_container_timeline_loader{
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: #FFF;
  top: 0;
}

.score_content{
  min-height: 60px;
  margin-bottom: 20px;
}
.video_container_score{
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  float: right;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(10, 39, 92, 0.1);
  border-radius: 10px;
  cursor: default;
  user-select: none;
  position: relative;
}
.video_container_score img{
  height: 20px;
  float: left;
  margin-top: 20px;
  margin-right: 15px;
}

.video_container_score_text{
  float: right;
  line-height: 60px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
.video_container_score_text .score{
  color: #26509B;
}

.video_container_score_button_repeat{
  float: right;
  margin-right: 20px;
  display: none;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(10, 39, 92, 0.1);
  border-radius: 10px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-image: url(/img/repeat.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.video_container_timer{
  float: left;
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(10, 39, 92, 0.1);
  border-radius: 10px;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  color: #26509B;
}
.video_container_timer svg{
  height: 30px;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  transition: 0.3s;
  display: block;
  fill: #5382D5;
}
.video_container_timer_time{
  float: left;
  line-height: 60px;
  font-size: 20px;
  font-size: 35px;
  font-weight: bold;
}

.video_container_answer_false .video_container_border{
  border-color: #A6192E;
}
.video_container_answer_true .video_container_border{
  border-color: #17A78F;
}

.video_container_error_time .video_container_border{
  border-color: #A6192E;
}
.video_container_error_time .video_container_timer{
  color: #FFF;
  background: #A6192E;
}
.video_container_error_time .video_container_timer svg{
  fill: #FFF;
}

.video_container_important_time .video_container_border{
  animation: video_container_border 1s ease infinite;
}

@keyframes video_container_border {
  0%{
    border-color: #A6192E;
  }
  50%{
    border-color: rgba(255,255,255,0.5);
  }
  100%{
    border-color: #A6192E;
  }
}



.video_container_important_time .video_container_timer_time{
  animation: video_container_timer_time 1s ease infinite;
}
@keyframes video_container_timer_time {
  0%{

    transform: scale(1);
  }
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
}


.video_container_pop_up_parent_error .video_container_pop_up{
  animation: video_container_pop_up_parent_error 1s ease infinite;
}

@keyframes video_container_pop_up_parent_error {
  0%{
    border-color: #A6192E;
  }
  50%{
    border-color: rgba(255,255,255,0);
  }
  100%{
    border-color: #A6192E;
  }
}


.video_container_pop_up_parent{
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.video_container_pop_up{
  width: 570px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0px auto;
  border-radius: 10px;
  border: 6px solid rgba(255, 255, 255, 0);
}
.video_container_pop_up_title{
  font-style: italic;
  font-weight: 800;
  color: #26509B;
  font-size: 35px;
  text-align: center;
}
.video_container_pop_up_description{
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.video_container_pop_up_buttons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video_container_pop_up_buttons .button{
  width: calc(50% - 10px);
}
.video_container_pop_up_buttons_one .button{
  width: 100%;
}

.video_container_share_buttons{
  display: flex;
  justify-content: space-between;
}
.video_container_share_buttons .button{
  width: calc(50% - 10px);
}



.js-pop-up-time-end .video_container_pop_up_buttons{
  justify-content: center;
}

.clear{
  clear: both;
}
.answer_title{
  float: left;
  font-style: italic;
  font-weight: 800;
  font-size: 40px;
  line-height: 70px;
  width: 245px;
  color: #26509B;
}
.answer_info_post{
  float: right;
  font-weight: bold;
  font-size: 18px;
  color: #26509B;
  width: calc(100% - 260px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  height: 70px;
}
.answer_comment{

  border-radius: 5px;
  background: #FFF;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  max-height: 100px;
  padding: 10px;
  font-size: 14px;
  position: relative;
}
.answer_comment_scroll{
  max-height: 80px;
}
.answer_comment_arrow{
  position: absolute;
  bottom: 100%;
  right: 20px;

  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #FFF;

}

.button_check{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
}


.button_check_icon{
  content: "";
  display: block;

  width: 24px;
  height: 24px;
  position: absolute;
  right: 30px;
  top: 21px;
  line-height: 70px;
  border: 2.5px solid #26509B;
  box-sizing: border-box;
}

.button_check_icon.active{
  background-image: url(/img/check.svg);
  background-size: 13px 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #26509B;
}


.button_calc{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
}
.button_calc::after{
  content: "";
  display: block;
  background-image: url(/img/calc.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}
.buttons_nalog{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
.button_nalog{
  height: 70px;
  line-height: 70px;
  border-radius: 10px;
  text-indent: 20px;
  background: #FFF;
  color: #26509B;
  font-size: 18px;
  width: calc(33.33% - 13px);
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  cursor: default;
  cursor: pointer;
  user-select: none;
}
.button_nalog::after{
  content: "";
  display: block;
  width: 80px;
  height: 70px;
  position: absolute;
  right: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.button_nalog_0::after{
  background-image: url(/img/nalog_0.svg);
}
.button_nalog_1::after{
  background-image: url(/img/nalog_1.svg);
}
.button_nalog_2::after{
  background-image: url(/img/nalog_2.svg);
}




.button_finish_calc{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_calc::after{
  content: "";
  display: block;
  background-image: url(/img/calc_white.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}

.button_finish_share{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_share::after{
  content: "";
  display: block;
  background-image: url(/img/share_white.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}


.button_finish_pdf{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_pdf::after{
  content: "";
  display: block;
  background-image: url(/img/pdf_white.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}



.button_finish_consult{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_consult::after{
  content: "";
  display: block;
  background-image: url(/img/consult_white.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}

.video_container_finish .score_content{
  width: 570px;
  margin: 0px auto;
  margin-bottom: 20px;
}
.video_container_finish .video_container_score{
  position: relative;
  float: right;
  left: 0;
  top: 0;
}
.video_container_finish .video_container_score{
  position: static;

}
.video_container_finish .video_container_score_button_repeat{
  height: 56px;
  width: 150px;
  background-color: #26509B;
  box-shadow: 0px 4px 0px #00205B;
  border-radius: 10px;
  background-image: url(/img/repeat_white.svg);
  background-position: 20px;
  float: left;
  position: relative;
  margin-right: 0;
}
.video_container_finish .video_container_score_button_repeat::after{
  content: "СЫГРАТЬ\AЗАНОВО";
  display: block;
  white-space: pre;
  color: #FFF;
  position: absolute;
  right: 20px;
  line-height: 18px;
  font-weight: bold;
  top: 10px;
}

.video_container_finish .video_opacity{
  opacity: 1;
}

.video_container_score_range{
  font-size: 16px;
  position: absolute;
  right: 25px;
  transition: 3s;
  font-weight: bold;
}

.video_container_score_range_plus{
  color: #17A78F;
  top: 0;
  transition: 1s;

}
.video_container_score_range_plus.video_container_score_range_animation{
  animation: score_plus 2s ease;
  animation-fill-mode: forwards;
}

@keyframes score_plus {
  0%{
    top: -20px;
    opacity: 0;
  }
  30%{
    top: 0px;
    opacity: 1;
  }
  70%{
    top: 0px;
    opacity: 1;
  }
  100%{
    top: 20px;
    opacity: 0;
  }
}


.video_container_score_range_minus{
  color: #A6192E;
  top: 20px;
  transition: 1s;
}

.video_container_score_range_minus.video_container_score_range_animation{
  animation: score_minus 2s ease;
  animation-fill-mode: forwards;
}

@keyframes score_minus {
  0%{
    top: 20px;
    opacity: 0;
  }
  30%{
    top: 35px;
    opacity: 1;
  }
  70%{
    top: 35px;
    opacity: 1;
  }
  100%{
    top: 55px;
    opacity: 0;
  }
}

.button_close_form{
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 3px;
}
.button_close_form_icon{
  width: 16px;
  height: 14px;
  background-image: url(/img/button_back.svg);
  background-size: cover;
  background-position: center;
  float: left;
}
.button_close_form_text{
  float: left;
  color: #26509B;
  line-height: 14px;
  font-size: 18px;
  margin-left: 12px;
  font-weight: bold;
}

.form_title{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #26509B;
  margin-bottom: 15px;
}






.button_finish_sms{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_sms::after{
  content: "";
  display: block;
  background-image: url(/img/sms.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}

.button_finish_email{
  padding-left: 35px;
  width: calc(50% - 50px) !important;
  text-indent: 0;
  text-align: left;
}
.button_finish_email::after{
  content: "";
  display: block;
  background-image: url(/img/email.svg);
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 70px;
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 70px;
}

.buttons_form{
  display: none;
}

.form_template{
  overflow: hidden;
  display: none;
}
.form_template .button{
  width: 175px;
  float: right;
}
.form_template input{
  height: 72px;
  width: calc(100% - 200px);
  border-radius: 5px;
  text-indent: 30px;
  font-size: 20px;
  float: left;
  text-transform: uppercase;
}

.form_opd{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.form_opd_input{
  width: 25px;
  height: 25px;
  background: #26509B;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
.form_opd_input.active{
  background-image: url(/img/check.svg);
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}
.form_opd_text{
  font-size: 18px;
  line-height: 25px;
  margin-left: 10px;
  user-select: none;
}
.form_opd_text a{
  color: #26509B;
  text-decoration: underline;
  font-weight: bold;
}

.footer_link{
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
  line-height: 10px;
  display: block;
}
.footer_link a{
  text-decoration: underline;
}

.video_loader{
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #eee;
}

.pixel{
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}



/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

.image_share{
  width: 100%;
  margin-bottom: 10px;
  height: 160px;
  background: #5382D5;
  color: #FFF;
  overflow: hidden;
}
.image_share_image{
  width: 160px;
  height: 160px;
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}
.image_share_info{
  float: left;
  width: calc(100% - 200px);
  margin-right: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 160px;
  font-style: italic;
}
.image_share_info_title{
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
}
.image_share_info_rating{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 20px;
}
.image_share_info_rating span{
  color: #FCE500;
}

.first_slide_mobile_image{
  display: none;
}
.line_preview_1{
  border-radius: 12px;
  background: #E8F0FF;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #D4DCEB;
}
.line_preview_2{
  background: #E8E9EE;
  height: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.button_preview{
  height: 70px;
  background: #E8F0FF;
  box-shadow: 0px 4px 0px #D4DCEB;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.button_preview_line{
  position: absolute;
  width: calc(100% - 160px);
  left: 80px;
  top: calc(50% - 6px);
  height: 12px;
  border-radius: 12px;
  background: #FFF;
}

.first_slide_button_mobile{
  display: none;
}
