@media screen and (max-width:960px){

  .score_content{
    width: calc(100% - 20px) !important;
    margin: 0px auto;
    margin-bottom: 20px;
  }
  .first_slide_left{
    width: 100%;
  }
  .first_slide_right{
    width: 100%;
    height: inherit;
  }
  .first_slide_info_block{
    margin: 0px auto;
  }
  .first_slide_title{
    text-align: center;
    font-size: 40px;
  }
  .first_slide_right video{
    width: calc(100% - 30px);
    margin: 15px;
  }
  .first_slide_description{
    text-align: center;
  }
  .first_slide_button{
    margin: 30px auto;
  }
  .content{
    padding: 0;
  }
  .video_loader video{
    border-radius: 0;
  }
  .video_loader{
    border-radius: 0;
    width: 100%;
  }
  .video_container_border{
    border-radius: 0;
  }
  .video_container_pop_up_title{
    font-size: 30px;
  }
  .video_container_pop_up_description{
    font-size: 14px;
  }
  .video_container_pop_up_description{
    margin-top: 0;
  }
  .video_container_pop_up{
    padding: 10px;
  }

  .button{
    height: 60px;
    font-size: 16px;
  }
  .button_nalog{
    height: 60px;
    line-height: 60px;
  }
  .form_template input{
    height: 62px;
  }
  .button_arrow::after{
    height: 60px;
    line-height: 60px;
  }
  .button_check_icon{
    top: 18px;
  }
  .answer_comment{
    max-height: 80px;
  }
  .button_go_calculator::after,.button_pdf::after,.button_calc::after,.button_nalog::after,.button_nalog_0::after,.button_nalog_1::after,.button_nalog_2::after,.button_finish_calc::after,.button_finish_share::after,.button_finish_pdf::after,.button_finish_consult::after ,.button_finish_sms::after,.button_finish_email::after{
    height: 60px;
    line-height: 60px;
  }


  .video_container_score{
    top: 0;
  }
  .video_container_timer{
    top: 0;
  }
  .first_slide_title,.first_slide_description{
    width: calc(100% - 30px);
    margin-left: 15px;
  }
}
@media screen and (max-width:750px){
  .answer_comment{
    max-height: 150px;
    font-size: 13px;
  }
  .answer_comment_scroll{
    max-height: 150px;
  }
  .footer_link{
    font-size: 10px;
    width: calc(100% - 20px);
    margin: 0px auto;
  }
  .score_content{
    min-height: 50px;
    margin-bottom: 20px;
  }

  .js-pop-up-preview{
    display: block;
  }
  .video_container_pop_up_parent{
    top: 0;
  }
  .video_container_finish .video_container_score_button_repeat{
    height: 45px;
    width: 115px;
    border-radius: 5px;
    background-position: 10px;
    left: 0px;
  }
  .video_container_finish .video_container_score_button_repeat::after{
    content: "СЫГРАТЬ\A ЗАНОВО";
    display: block;
    white-space: pre;
    color: #FFF;
    position: absolute;
    right: 10px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    top: 7px;
  }


  .video_container_timeline{
    bottom: 30px;
    width: calc(100% - 140px);
    left: 30px;
  }
  .video_container_next{
    bottom: 20px;
    right: 30px;
  }
  .video_container_pop_up_parent{
    position: relative;
  }
  .video_container_pop_up{
    margin: 20px auto;
    background: #F6F9FF;
    border-radius: 10px;
    width: calc(100% - 90px);
    padding: 20px;
  }
  .video_container_pop_up_buttons{
    display: block;
  }
  .video_container_share_buttons{
    display: block;
  }
  .video_container_pop_up_buttons[style="display: flex;"]{
    display: block !important;
  }
  .video_container_pop_up_buttons .button{
    width: 100%;
    margin-top: 20px;
  }
  .video_container_share_buttons .button{
    margin-top: 20px;
    width: 100%;
  }
  .video_container_finish .video_container_pop_up_buttons .button{
    width: calc(100% - 20px) !important;
    padding-left: 20px !important;
  }
  .video_container_pop_up_buttons .button_white{
    width: calc(100% - 40px) !important;
  }
  .video_container_pop_up_buttons .button_check{
    width: calc(100% - 40px) !important;
  }
  .button_finish_sms, .button_finish_email{
    width: calc(100% - 40px) !important;
  }

  .video_container_pop_up_title{
    margin-bottom: 15px;
  }
  .video_container_score{
    position: relative;
    height: 50px;
    background: #F6F9FF;
    float: right;
    top: 0;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
  }
  .video_container_score_text{
    line-height: 50px;
    font-size: 16px;
    float: right;
  }
  .video_container_score img{
    margin-top: 17px;
    height: 17px;
    float: right;
  }
  .video_container_timer{
    float: left;
    height: 50px;
    position: relative;
    left: 0;
    top: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #F6F9FF;
    box-shadow: none;
  }
  .video_container_timer_time{
    font-size: 20px;
    line-height: 50px;
  }
  .video_container_score_button_repeat{
    width: 50px;
    height: 50px;
    left: -60px;
    background-color: #F6F9FF;
    box-shadow: none;
    margin-right: 10px;
  }
  .video_container_timer svg{
    height: 20px;
  }
  .buttons_nalog{
    display: block;
  }
  .button_nalog{
    width: 100%;
    margin-top: 15px;
  }
  .form_title{
    margin-top: 15px;
  }
  .form_template input{
    width: 100%;
    font-size: 12px;
  }
  .form_template .button{
    margin-top: 15px;
    width: 100%;
    margin-bottom: 5px;
  }

  .image_share_image{
    width: 100px;
    background-size: 70px 70px;
  }
  .image_share_info{
    width: calc(100% - 140px);
  }
  .image_share_info_title{
    font-size: 18px;
    line-height: 20px;
  }
  .image_share_info_rating{
    font-size: 14px;
  }
  .answer_title{
    font-size: 30px;
    line-height: 50px;
  }
  .answer_info_post{
    font-size: 14px;
    height: 50px;
  }
  .score_content{
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }

}
@media screen and (max-width:500px){
  .first_slide_button_mobile{
    display: flex;
  }
  .first_slide_button_desctop{
    display: none;
  }
  .michelin-logo{
    font-size: 13px;
    right: 20px;
    top: 20px;
  }

  .first_slide_mobile_image{
    display: block;
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .first_slide_mobile_image img{
    position: absolute;
    left: -50px;
    top: 0;
    height: 400px;
  }
  .first_slide_right{
    display: none;
  }
  .answer_title{
    width: 100%;
    text-align: center;
  }
  .answer_info_post{
    text-align: center;
    width: 100%;
  }
  .image_share{
    height: inherit;
  }
  .image_share_image{
    width: 100%;
    height: 100px;
  }
  .image_share_info{
    width: 100%;
    height: inherit;
    text-align: center;
    margin-bottom: 10px;
  }
  .first_slide_info_block{
    width: calc(100% - 30px);
  }

  .first_slide_button{
    width: calc(100% - 30px);
  }
  .first_slide_info_block_text{
    width: calc(100% - 75px);
    font-size: 13px;
  }
  .video_container_finish .video_container_score_button_repeat{
    width: 85px;
  }
  .video_container_finish .video_container_score_button_repeat::after{
    font-size: 8px;
  }

  .first_slide_title,.first_slide_description{
    text-align: left;
  }
  .video_container_score_text{
    font-size: 10px;
  }

}
@media screen and (max-width:370px){

  .video_container_score_range{
    font-size: 10px;
    right: 15px;
  }
}
