/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}




/*************** SIMPLE OUTER SCROLLBAR ***************/

.answer_comment_scroll > .scroll-element,
.answer_comment_scroll > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.answer_comment_scroll > .scroll-element {
    background-color: #ffffff;
}

.answer_comment_scroll > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.answer_comment_scroll > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}

.answer_comment_scroll > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}

.answer_comment_scroll > .scroll-element.scroll-x .scroll-element_outer { height: 6px; top: 2px; }
.answer_comment_scroll > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 6px; }

.answer_comment_scroll > .scroll-element .scroll-element_outer { overflow: hidden; }
.answer_comment_scroll > .scroll-element .scroll-element_track { background-color: #E8F0FF; }

.answer_comment_scroll > .scroll-element .scroll-element_outer,
.answer_comment_scroll > .scroll-element .scroll-element_track,
.answer_comment_scroll > .scroll-element .scroll-bar {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.answer_comment_scroll > .scroll-element .scroll-bar { background-color: #5382D5; }


/* scrollbar height/width & offset from container borders */

.answer_comment_scroll > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.answer_comment_scroll > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.answer_comment_scroll > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.answer_comment_scroll > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }


/* update scrollbar offset if both scrolls are visible */

.answer_comment_scroll > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.answer_comment_scroll > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

.answer_comment_scroll > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.answer_comment_scroll > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }
