<!DOCTYPE html>
<html>
  <head>
    <title>Michelin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'media', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap" rel="stylesheet">


    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(57516034, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/57516034" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5GKDWCG');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GKDWCG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138053463-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-138053463-1');
    </script>
    

  </head>

  <body>

    <input type="hidden" name="logo" value='<%=params[:logo]%>'>
    <input type="hidden" name="url" value='<%=params[:url]%>'>

    <div class="first_slide">
      <div class="content">

        <div class="first_slide_left">

          <div class="first_slide_info_block">
            <img src="/img/info-icon.svg"">
            <div class="first_slide_info_block_text">
              Узнайте как экономить до <span>40%</span><br> на топливе и обслуживании
            </div>
          </div>

          <div class="first_slide_title">
            Управляй<br>экономично
          </div>

          <div class="button button_arrow first_slide_button first_slide_button_mobile gtm-first-button">
            ПРОВЕРЬ СЕБЯ
          </div>

          <div class="first_slide_description">
            Управлять крупной компанией в&nbsp;области грузоперевозок&nbsp;&mdash; непростая задача, где любое неверное решение стоит сотни тысяч рублей. Мы&nbsp;приготовили интерактивный <span style="white-space:nowrap;">тест-симулятор</span>, в&nbsp;котором вы&nbsp;играете роль директора такой компании и&nbsp;решаете её&nbsp;судьбу.<br><br> Как платить сотрудникам, чтобы все были довольны? Стоит&nbsp;ли покупать новые автомобили в&nbsp;парк? На&nbsp;чём сэкономить и&nbsp;надо&nbsp;ли это делать? Давайте проверим, сможете&nbsp;ли вы&nbsp;справиться с&nbsp;этим и&nbsp;не&nbsp;потерять деньги.

          </div>

          <div class="button button_arrow first_slide_button first_slide_button_desctop gtm-first-button">
            ПРОВЕРЬ СЕБЯ
          </div>

        </div>

        <div class="first_slide_mobile_image">
          <img src="videos/header/poster.jpg" alt="">
        </div>

        <div class="first_slide_right">

          <div class="first_slide_right_image_parent">
            <video autoplay="autoplay" poster="videos/header/poster.jpg" muted>
              <source src="videos/header/video.mp4" type="video/mp4">
              <source src="videos/header/video.webm" type="video/webm">
              <source src="videos/header/video.ogv" type="video/ogg">
            </video>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <p>
        <center>
          <span class='footer_link'>
            <a class='footer_link' href="/consent_for_product_consumers.pdf" target="_blank">Согласие для потребителей продукции</a><br>




        </center>
      </p>

    </div>


    <div class="video_slide">

      <div class="content">

        <div class="video_container ">

          <div class="score_content">


            <div class="video_container_timer">
              <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M30 17C30 24.1797 24.1797 30 17 30C9.8203 30 4 24.1797 4 17C4 9.8203 9.8203 4 17 4C24.1797 4 30 9.8203 30 17ZM34 17C34 26.3888 26.3888 34 17 34C7.61116 34 0 26.3888 0 17C0 7.61116 7.61116 0 17 0C26.3888 0 34 7.61116 34 17ZM15.5 7V17V17.6213L15.9393 18.0607L22.4393 24.5607L24.5607 22.4393L18.5 16.3787V7H15.5Z" />
              </svg>
              <div class="video_container_timer_time" time='30'>
                30
              </div>
            </div>


            <div class="video_container_score">


              <div class="video_container_score_text">
                <span class='schet'>СЧЕТ:</span>
                <span class='score'>
                </span>
              </div>
              <img src="/img/money.svg"">


            </div>

            <div class="video_container_score_button_repeat js-repeat">

            </div>

          </div>
          <div class="clear"></div>

          <div class="video_loader">

          </div>


          <div class="video_container_pop_up_parent js-pop-up-forms" >
            <div class="video_container_pop_up">

              <div class="button_close_form js-close-form">
                <div class="button_close_form_icon">

                </div>
                <div class="button_close_form_text">
                  Назад
                </div>

              </div>


              <div class="form_thanks">

                <div class="form_title">
                  СПАСИБО!
                </div>

                <p>
                  <center>
                    Данные получены
                  </center>
                </p>

                <%=render template: 'layouts/questions/test_result_buttons'%>

              </div>

              <div class="form_content" style="display: none">

                <div class="form_title">
                </div>

                <div class="video_container_pop_up_buttons buttons_form">
                  <div class="button button_finish_sms">
                    получить<br>по SMS
                  </div>
                  <div class="button button_finish_email">
                    ПОЛУЧИТЬ<br>ПО EMAIL
                  </div>

                </div>



                <div class="form_block">

                  <form class="form_template form_phone">

                    <input type="tel" name="phone" placeholder="8 (000) 000-00-00">
                    <input type="hidden" name="type_form" value="">

                    <button class="button gtm-send-phone">
                      ОТПРАВИТЬ
                    </button>

                  </form>

                  <form class="form_template form_email" style="display: block">
                    <input type="email" name='email' placeholder="hello@email.com">
                    <input type="hidden" name="type_form" value="">
                    <button class="button gtm-send-email">
                      ОТПРАВИТЬ
                    </button>

                  </form>

                  <div class="form_opd">
                    <div class="form_opd_input active">

                    </div>
                    <div class="form_opd_text">
                      Согласие на <a href="/politika_v_oblast_obrabotki_pdn_v2020.pdf" target="_blank">ОПД</a>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>


          <div class="video_container_pop_up_parent js-pop-up">
            <div class="video_container_pop_up">
            </div>
          </div>

          <div class="video_container_pop_up_parent js-pop-up-preview">
            <div class="video_container_pop_up">
              <div class="video_container_pop_up_title">
                Как лучше поступить?
              </div>
              <div class="video_container_pop_up_description">
                Продать старые автомобили, пока за&nbsp;них ещё можно выручить деньги и&nbsp;взять новые в&nbsp;лизинг? Или оставить и&nbsp;инвестировать во&nbsp;что-то другое?
              </div>
              <div class="button_preview">
                <div class="button_preview_line"></div>
              </div>
              <div class="button_preview">
                <div class="button_preview_line"></div>
              </div>
            </div>
          </div>

          <div class="video_container_pop_up_parent js-pop-up-time-end">
            <div class="video_container_pop_up">
              <div class="video_container_pop_up_title">
                Время вышло!
              </div>
              <div class="video_container_pop_up_description">
                В нашей игре, как и в жизни, время — деньги, поэтому решать нужно быстрее. Стоит немного промедлить и вы у разбитого корыта! Но не отчаивайтесь... Времени, чтобы принять решение, достаточно.

              </div>
              <div class="video_container_pop_up_buttons">
                <div class="button button_arrow js-set-next-test">
                  Продолжить
                </div>
              </div>
            </div>
          </div>


        </div>

        <p>
          <center>
            <span class='footer_link'>
              <a class='footer_link' href="/consent_for_product_consumers.pdf" target="_blank">Согласие для потребителей продукции</a><br>
              ***<br>
              Числа, указанные в тесте, примерные и основаны на прогнозах, ситуация вымышлена.<br> Мы не гарантируем, что вы заработаете или сэкономите такие же деньги.<br> Фактические цифры зависят от многих факторов (налогообложение, манера вождения и пр.)
            </span>



          </center>
        </p>
      </div>

    </div>






  </body>
</html>
