<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=@title%></title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap" rel="stylesheet">

  <style>
    .content{
      width: 100%;
      max-width: 600px;
      margin: 30px auto;
    }
    img{
      width: 100%;
    }


    a{

      height: 70px;
      background: #26509B;
      box-shadow: 0px 4px 0px #00205B;
      border-radius: 5px;

      font-weight: bold;
      font-size: 18px;
      color: #FFF;
      cursor: pointer;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      user-select: none;

      border: none;
      width: 200px;
      text-align: center;
      margin: 20px auto;
      display: block;
      line-height: 70px;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;
    }

  </style>
</head>
<body>

  <div class="content">
    <img src="/img/share/<%=params[:name]%>.jpg" alt="">

    <a href="<%=params[:url]%>">Пройти тест</a>
  </div>


</body>
</html>
